{# If there's a decryption error, display an error message but still include the input as a hidden value so that the user can change the name #}
{% if 'error' in widget.value %}
<script>
    const toggle_hidden = (ids) => {
        ids.forEach(id => {
            const element = document.getElementById(id);
            element.hidden = !element.hidden;
        });
    }
</script>
<p id="decryption_text">
    This value is encrypted with a different key and cannot be decrypted.
    To set a new value, click <a href="#" onclick="toggle_hidden(['id_value', 'decryption_text'])">here</a>.
</p>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}" value="{% if widget.value.value %}{{ widget.value.value|stringformat:'s' }}{% endif %}"
    {% include "django/forms/widgets/attrs.html" %}
    {% if 'error' in widget.value %} hidden {% endif %}
>